%legend
  = link_to 'Create New Blog', new_user_blog_path(params[:user_id]), :class => "btn btn-success"

%table.table.table-striped
  %thead
    %tr
      %th #id
      %th #name
      %th #posts
      %th{:colspan => 2} 
  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.id
        %td= blog.name
        %td
          %span.badge.badge-success
            = blog.posts.count
        %td= link_to 'Show', user_blog_path(current_user, blog), :class => "btn btn-success"
        %td=# link_to 'Edit', edit_admin_blog_path(blog), :class => "btn btn-warning"
        %td= link_to 'Destroy', user_blog_path(current_user, blog), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class =>"btn btn-danger"

%br