.class.well.span6.new_comment
  = form_for comment, :url => create_comment_path(post), :html => {:class => "form-inline"} do |f|
    = f.label :add_comment
    %br
    = f.text_field :comment, :class => "new_comment_field"
    = f.hidden_field :user_id, :value => current_user.present? ? current_user.id : ""
    = f.submit "comment", :class => "btn btn-success"
.class.clearfix