= form_for [:admin,@post] do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.hidden_field :author_id, :value => current_user.id
    = @post.author.email if @post.author.present?
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    =# text_area_tag :editor, "", :class => "redactor", :rows => 40, :cols => 120 %>
    = f.text_area :body, :class => "redactor"
  .actions
    = f.submit 'Save'
