%table.table.table-striped
  %caption
    Roles table
  %thead
    %tr
      %th #id
      %th #name
      %th{:colspan => 2} 
  %tbody
    - @roles.each do |role|
      %tr
        %td= role.id
        %td= role.name
        %td= link_to 'Edit', edit_admin_role_path(role), :class => "btn btn-warning"
        %td= link_to 'Destroy', [:admin, role], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class =>"btn btn-danger"

%br

= link_to 'New Role', new_admin_role_path
